body {
	font-family: "Microsoft YaHei", "微软雅黑",sans-serif;
}

/*set whole size*/
#at-plus-container {
    width: 30px;
    height: 30px;

    margin: 0;
    padding: 0;

    position: absolute;
    left: 669px;
    bottom: 103.5px;
}
/*size changes when hovering*/
#at-plus-container:hover {
    width: 155px;
    height: 250px;

    left: 597px;
    bottom: 6.5%;

    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
}

/*ensure the position and size of original button*/
#bottom-positioner {
	width: 30px;
	height: 30px;
	position: absolute;

    left: 0;
    bottom: 0;
}
#at-plus-container:hover #bottom-positioner {
    left: 72px;
    bottom: 61px;

    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
}

/*ensure the original button size*/
#button {
	height: 30px;
	width: 30px;
	position: absolute;
}

/*set basic background*/
.apb {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;

    width: 30px;
    height: 30px;

    transition:left 0.3s 0.6s,top 0.3s 0.6s;
    -webkit-transition:left 0.3s 0.6s,top 0.3s 0.6s;
    -moz-transition:left 0.3s 0.6s,top 0.3s 0.6s;
    -o-transition:left 0.3s 0.6s,top 0.3s 0.6s;
}

#at-plus-container:hover .apb {
    width: 50px;
    height: 50px;
    left: -10px;
    top: -10px;

    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
}

/*set icon and its changes*/
.apb .icon {
	width: 30px;
    height: 30px;

    background-color: rgba(0, 0, 0, 0.4);
	background-image: url("../assets/images/atplus_white.png");
	background-size: 23px;

	background-repeat: no-repeat;
	background-position: center;
    border-radius: 50%;

    transition:background-image 0.3s 0.6s,background-size 0.3s 0.6s,background-color 0.3s 0.6s,
               width 0.3s 0.6s,height 0.3s 0.6s;
    -webkit-transition:background-image 0.3s 0.6s,background-size 0.3s 0.6s,background-color 0.3s 0.6s,
               width 0.3s 0.6s,height 0.3s 0.6s;
    -o-transition:background-image 0.3s 0.6s,background-size 0.3s 0.6s,background-color 0.3s 0.6s,
               width 0.3s 0.6s,height 0.3s 0.6s;
    -moz-transition:background-image 0.3s 0.6s,background-size 0.3s 0.6s,background-color 0.3s 0.6s,
               width 0.3s 0.6s,height 0.3s 0.6s;
}

#at-plus-container:hover .apb .icon {
    height: 50px;
    width: 50px;
	background-image: url("../assets/images/atplus_green.png");
    background-color: rgba(48, 63, 159, 1);
	background-size: 35px;

    transition:background-image 0.3s 0s,background-size 0.3s 0s,background-color 0.3s 0s,
               width 0.3s 0s,height 0.3s 0s;
    -webkit-transition:background-image 0.3s 0s,background-size 0.3s 0s,background-color 0.3s 0s,
               width 0.3s 0s,height 0.3s 0s;
    -moz-transition:background-image 0.3s 0s,background-size 0.3s 0s,background-color 0.3s 0s,
               width 0.3s 0s,height 0.3s 0s;
    -o-transition:background-image 0.3s 0s,background-size 0.3s 0s,background-color 0.3s 0s,
               width 0.3s 0s,height 0.3s 0s;
}

/*information bar*/
#info-bar {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    list-style-type: none;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);

    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover #info-bar {
    width: 130px;
    height: 130px;
    bottom: 176%;
    right: -53px;
    opacity: 1;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}

#info-bar .info ul li {
	position: relative;
}

#info-bar .info ul li img {
	vertical-align: top;
	margin-right: 6px;
}

.page {
	font-weight: bold;
	color: #fff;
	display: block;
}

.user {
	bottom: 8px;
}

.comment {
	font-size: 28px;
	right: 5px;
}

.comment img {
	width: 25px;
    height: 25px;
    position: relative;
    top: 9px;
    right: 5px;
}

.mine {
	font-size: 16px;
	font-weight: bold;
	display: inline;
	margin-right: 3px;
	right: 16px;
	top: 10px;
}
.mine span {
	color: #079E6E;
}

/*set ring*/
#control-ring-container {
	width: 30px;
	height: 30px;

	position: absolute;
	opacity: 0;

	transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
}

#at-plus-container:hover #control-ring-container {
	opacity: 1;
	bottom: 0px;
	cursor: pointer;
}

#control-ring-container .button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	list-style-type: none;
	background-color: rgba(0,0,0,0.4);
	background-size: 18px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
}

.mask {
    bottom: 0;
    right: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover .mask {
	background-image: url("../assets/images/nomask.png");
	bottom: 92.5%;
    right: 53px;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}

.history {
	bottom: 0;
    right: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover .history {
	background-image: url("../assets/images/history.png");
    bottom: -30.5%;
    right: 59px;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}

.message {
	top: 0;
    right: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover .message {
	background-image: url("../assets/images/message.png");
    top: 45px;
    right: 52px;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}

.unread {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #f00;
	color: #fff;
	text-align: center;
	font-size: 1px;
	position: absolute;
	left: 20px;
    bottom: 20px;
    opacity: 0;
}

#at-plus-container:hover .unread {
	opacity: 1;
}

.setting {
	top: 0;
    right: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover .setting {
	background-image: url("../assets/images/setting.png");
    top: 57px;
    right: 17px;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}

.sign {
	top: 0;
    right: 0;

    transition:all 0.6s 0.1s;
    -webkit-transition:all 0.6s 0.1s;
    -moz-transition:all 0.6s 0.1s;
    -o-transition:all 0.6s 0.1s;
}

#at-plus-container:hover .sign {
	background-image: url("../assets/images/signin.png");
    top: 60px;
    right: -20px;

    transition:all 0.6s 0s;
    -webkit-transition:all 0.6s 0s;
    -moz-transition:all 0.6s 0s;
    -o-transition:all 0.6s 0s;
}
