body {
	font-family: "Microsoft YaHei","微软雅黑",sans-serif;
}

/*-----------------------------title and introduction--------------------------*/
h1,h2 {
	text-align: center;
}

/*-----------------------------information of the game like score--------------*/
.set {
    width: 338px;
    height: 76px;
    margin: 0 auto;
}

.set > div {
	margin: 5px 5px 5px 5px;
}

.gameTips {
	float: left;
}

.gameTips button, .gameTips div, .attr div {
	margin: 3px 0;
}

.gameTips button {
	background-color: #fff;
	border:1px #ccc solid;
	border-radius: 4px;
	cursor: pointer;
}

.gameTips button:active {
	background-color: rgb(64,138,201);
	color: #fff;
}

.time, .score {
	display: inline-block;
	width: 50px;
	height: 19px;
	border:1px #ccc solid;
	border-radius: 4px;
}

.attr {
	text-align: right;
	vertical-align: bottom;
	float: right;
}

#showTips {
	border:1px #ccc solid;
	padding:2px 2px 2px 2px;
	border-radius: 4px;
}

/*-----------------------------button board of the game------------------------*/
.game {
	width: 320px;
	margin: 25px auto;
	padding: 15px;
	border-top: rgb(168,168,168) 1px solid;
	border-bottom: rgb(168,168,168) 1px solid;
	text-align: center;

    /*refuse to choose text in website*/
	-webkit-user-select:none;
	-o-user-select:none;
	-moz-user-select: none;
}

.button button {
    width: 20px;
    height: 20px;

    background-color: #fff;
    border:rgb(194,194,194) 1px solid;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.choice .button button:active {
	border-radius: 50%;
}

/*-----------------------------instruction of game-----------------------------*/

.instruction, .list {
	margin: 0 auto;
	width: 50%;
}

.instruction {
	font-weight: bolder;
	margin-top: 50px;
}

/*-----------------------------button css used in js---------------------------*/
.only {
	box-shadow: 0px 0px 2px 6px rgb(74,154,239) inset;
	border:rgb(74,154,239) 1px solid;
}

.button .error:active {
	background-color: rgb(230,230,230);
}
